name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: GitHub Pages Deploy
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    permissions:
      contents: write
    steps:
      - name: Init Checkout
        uses: actions/checkout@v3

      - name: Init NPM
        uses: npm/action-setup@v2
        with:
          version: 7

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          check-latest: true
          cache: 'npm'

      - name: PNPM install and Build
        run: |
          npm i
          npm build
        env:
          VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }}

      - name: Deploy Site
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
